body{
    background: orange;
}

div{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 30px;
}

@media screen and (min-width: 480px){
    body{
        background: blue;
    }
}

@media screen and (min-width: 767px){
    
}

@media screen and (min-width: 950px){
    
}